services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db

    env_file:
      - ../environments/.development.env

    ports:
      - "5433:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: ..
      dockerfile: docker/dockerfiles/dev.Dockerfile
    container_name: spring_app

    env_file:
      - ../environments/.development.env

    depends_on:
      - db

    ports:
      - "7777:8080"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_server

    env_file:
      - ../environments/.development.env

    ports:
      - "5050:80"

    depends_on:
      - db

    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
