services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db

    environment:
      POSTGRES_USER: springuser
      POSTGRES_PASSWORD: springpassword
      POSTGRES_DB: todolistdb

    ports:
      - "5433:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: ..
      dockerfile: docker/dockerfiles/dev.Dockerfile

    container_name: spring_app

    depends_on:
      - db

    ports:
      - "7777:8080"

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/todolistdb
      SPRING_DATASOURCE_USERNAME: springuser
      SPRING_DATASOURCE_PASSWORD: springpassword
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_server

    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: password

    ports:
      - "5050:80"

    depends_on:
      - db

    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
